module.exports = {
  USE_LOCAL_MOCK: false,
  CLOUD_ENV_ID: 'your-cloud-env-id',
  LOCAL_STORAGE_KEY: 'football-signup-local-cloud-v1',
  SUBSCRIBE_MESSAGE_TEMPLATE_IDS: {
    activityNotice: 'your-subscribe-message-template-id'
  }
};
